n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weather-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        336
      ],
      "id": "ce4dd134-7edd-4537-87f4-a9e238a5af7b",
      "name": "Webhook",
      "webhookId": "89657898-69ab-41e9-97cf-0e5a2e3eb2b6"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite-preview-06-17",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite-preview-06-17"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a JSON extractor for weather queries.  \nWhen given a user’s question about weather, output only a JSON object with exactly these keys:\n  • city (string) – the city name  \n  • weather (string, optional) – the phrase “weather” \n  • time (string, optional) – words like “today”, “tomorrow”, \"latest\", \"now\" or other time expressions return time format with date \n  • greetings (string, optional) - greeting the user back if they greet.\n  • forecast (string. optional) - words like forecast and future phrases like future tenses\nDo not output any extra text, markdown, or explanation—only the JSON.\n\nYour output must be a JSON object with those properties:\n{\n  \"city\" : this is recommended but optional when object greeting is used \n  \"weather\" : this is optional\n  \"time\" : this is optional \n  \"greeting\" : this is optional\n  \"forecasts\" : this is optional\n}\n\nexample: \nuser input: \"can you get todays mumbai weather report\"\nexplanation: todays weather report means the exact report of now (ex: today means the date is 20-08-2025, they are expecting the weather of the date)\nOutput:\n{\n  \"city\" : \"mumbai\",\n  \"weather\" : \"weather report\"\n  \"time\" : \"20-08-2025\"\n}\n\nexample: \nuser input: \"what is get the latest weather report of mumbai\"\nOutput:\n{\n  \"city\" : \"mumbai\",\n  \"weather\" : \"weather report\"\n  \"time\" : \"20-08-2025 17:15 PM\"\n}\n\nexample: \nuser input: \"hi\"\nouput:\n{\n  \"greeting\": \"hi, can i help you with weather report\",\n}\n\nexample: \nuser input: \"will it rain now in hyderabad\"\nOutput:\n{\n  \"city\" : \"hyderabad\",\n  \"weather\" : \"forecast\"\n  \"time\" : \"now\"\n}\n\nexample: \nuser input: \"will it rain tomorrow in hyderabad\"\nOutput:\n{\n  \"city\" : \"hyderabad\",\n  \"forecast\" : \"forecast\"\n  \"time\" : \"tomorrow\"\n}\n",
              "role": "model"
            },
            {
              "content": "= {{ $json.body.message }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        336
      ],
      "id": "8bd9ad50-4d87-432a-8d59-bb8fbbb06c56",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "dR4iN6CXaKuYKx46",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body.formatted_response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        144
      ],
      "id": "7194a092-b08c-4ed9-b770-c17e81a50887",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        336
      ],
      "id": "9563ae13-91b3-41c8-ac3b-b3df2a85a216",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server:3001/tools/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "parameters.city",
              "value": "={{ $json.city }}"
            },
            {
              "name": "=weather",
              "value": "={{ $json.weather }}"
            },
            {
              "name": "=parameters.time",
              "value": "={{ $json.time }}"
            },
            {
              "name": "tool_name",
              "value": "={{ $json.forecast ? 'get_forecast' : 'get_weather' }}"
            },
            {
              "name": "greeting",
              "value": "={{ $json.greeting }}"
            },
            {
              "name": "forecast",
              "value": "={{ $json.forecast }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        144
      ],
      "id": "3b12286c-56d2-4e86-8ed2-07487623594e",
      "name": "Call MCP Weather"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6953a685-e10c-4e95-927f-b5ba40584b34",
              "name": "body.formatted_response",
              "value": "={{ $json.body.formatted_response }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        144
      ],
      "id": "1d722991-6b80-4c3b-a57a-026739d120d8",
      "name": "Extract Reply"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.city }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "d4319f87-5dfb-4781-8149-3570465dbecb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c51de634-1ed1-4478-bc79-3c1f76ee0c2e",
                    "leftValue": "={{ $json.greeting }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1fa13311-a822-4379-8411-4403aacc9dfe",
                    "leftValue": "={{ $json.city }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        320
      ],
      "id": "07ad02cc-d6e3-479b-b02b-3e3462c694f3",
      "name": "Switch"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.greeting }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        336
      ],
      "id": "bed03221-a1e9-45e3-a49f-4d3aa6d1b334",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.city }} doesn't exist",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        528
      ],
      "id": "9ec42a68-44e5-402a-8a6c-fd3102cb35af",
      "name": "Respond to Webhook2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call MCP Weather": {
      "main": [
        [
          {
            "node": "Extract Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call MCP Weather",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d8ee88041dd2d9cb00f082f14da23124a852757654312f073c3aa5f2bc59fe48"
  }
}